/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#context {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    transition: right 500ms;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
}

#context.hidden {
    right: -400px;
    visibility: hidden;
}

#context-node {
    margin-bottom: 10px;
}

#context-substructure>.element>.topbar {
    display: none;
}

#context-substructure tr {
    background-color: white;
}

#context-substructure tr:nth-child(2n) {
    background-color: #cccccc;
}

#context-substructure .topbar {
    display: flex;
    align-items: center;
}

#context-substructure .expand-substructure {
    margin-right: 8px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#context-substructure .expand-substructure::after {
    content: "+";
}

#context-substructure .element.open>.topbar>.expand-substructure::after {
    content: "-";
}

#context-substructure .element table {
    display: none;
}

#context-substructure .element.open>table {
    display: initial;
}

#context-substructure .element td {
    padding: 3px;
}