/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

@import "reset.css";
@import "glyphicon.css";
@import "header.css";
@import "layout.css";
@import "kwsearch.css";
@import "neighbors.css";
@import "context.css";
@import "legend.css";
@import "querybar.css";
@import "errors.css";
@import "popup.css";
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

body.dragging, body.dragging * {
    cursor: grabbing!important;
}

main {
    flex: auto;
    overflow: hidden;
    position: relative;
}

body.no-db main #query-bar, body.no-db main #legend, body.no-db main #layout, body.no-db main #neighbors, body.no-db main #kwsearch, body.no-db header a.icon {
    display: none;
}

body.no-db main {
    background-color: #ffffff;
}

/* Z-indexes */

header {
    z-index: 10;
}

#query-bar {
    z-index: 1;
}

#query-bar #query:focus {
    z-index: 2;
}

#legend {
    z-index: 2;
}

#layout-background {
    z-index: 3;
}

aside {
    z-index: 4;
}

#errors-container {
    z-index: 20;
}

#popup-container {
    z-index: 100;
}

/* Loading animations */

.loader {
    pointer-events: none;
}

.loader:after {
    content: " ";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    border: 3px solid #0e51b6;
    border-color: #0e51b6 transparent #0e51b6 transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }
    99% {
        display: block;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}