/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#errors-container {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}

#errors-container .errorbox {
    pointer-events: auto;
    position: relative;
    background: white;
    box-sizing: border-box;
    width: 300px;
    min-height: 100px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .5);
    margin: 0 20px 20px;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    color: #555555;
}

#errors-container .errorbox .closebutton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 200ms;
}

#errors-container .errorbox .closebutton:after {
    /* content: "\2715"; */
    content: "\2716";
}

#errors-container .errorbox .closebutton:hover {
    color: black;
}