/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#export-layout {
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

#export-layout .nodes .node:not(.filteredIn) {
    opacity: .1;
}

#export-layout .nodes .node:not(.filteredIn) text {
    opacity: .5;
}

#export-layout .links .edge:not(.filteredIn) {
    opacity: .05;
}

#export-layout .links {
    pointer-events: none;
}

#export-layout .links text {
    fill: black;
    font-size: 12px;
    transition: fill 200ms;
}

#export-layout:not(.labels-visible) .links .edge.hidden text {
    fill: transparent;
}

#export-layout .links line {
    stroke: #555555;
    stroke-width: 1;
}

#export-layout .links .edge.same-as line {
    stroke: #254e8b;
}

.arrowhead {
    fill: #555555;
}

#export-layout .nodes circle {
    stroke: black;
    stroke-width: 1;
}

#export-layout .nodes text {
    fill: black;
}

#export-layout .nodes tspan {
    font-size: 0;
}

#export-layout .nodes tspan.ellipsis {
    font-size: inherit;
}

#export-layout .nodes rect {
    fill: white;
    stroke-width: 1;
    stroke: black;
}

#export-layout .nodes line {
    stroke-width: 1;
    stroke: black;
}

#export-layout .nodes .expand-zone.open line.v {
    stroke: transparent;
}

#export-legend>rect {
    fill: white;
}

#export-legend g rect {
    stroke: black;
    stroke-width: 1;
}

#export-legend g text {
    font-size: 16px;
}