/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

header {
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 12px;
}

header #db-selection {
    height: 100%;
    margin-left: 20px;
    position: relative;
}

header #db-selection #selected-db {
    height: 100%;
    display: flex;
    align-items: center;
}

body.no-db header #db-selection #selected-db span::before {
    content: "(none selected)";
}

header #db-selection ul {
    display: none;
    position: absolute;
    min-width: 200px;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .5);
}

header #db-selection:hover ul {
    display: block;
}

header #db-selection a {
    display: block;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    transition: background-color 200ms;
}

header #db-selection a:hover {
    background-color: #7b92b4;
}

header #db-selection a.active::before {
    content: "> ";
}

header #about, header #import {
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header #import.loading {
    pointer-events: none;
}

header #import .loader {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    display: none;
}

header #import.loading .loader {
    display: initial;
}

header #spacer {
    flex: 1 1;
}

header #settings {
    min-width: 200px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header #settings .icon::after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: black;
    position: absolute;
    left: 50%;
    bottom: -12px;
    margin-left: -6px;
    transition: border-top-color 200ms;
}

header #settings:hover .icon::after {
    border-top-color: #0e51b6;
}

header #settings #settings-content {
    display: none;
    position: absolute;
    width: 500px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .5);
    background-color: #ffffff;
    right: 0;
    padding: 20px;
    top: 100%;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, .5);
}

header #settings:hover #settings-content {
    display: initial;
}

header #settings-content .setting {
    display: flex;
    align-items: center;
    padding: 5px;
}

header #settings-content .setting:nth-child(even) {
    background-color: #e3e3e3;
}

header #settings-content .setting .label {
    width: 200px;
}

header #settings-content .setting .setting-content {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #settings-content .setting .setting-content .active {
    margin-right: 10px;
}

header #settings-content input[type=range] {
    -webkit-appearance: none;
    flex: 1 1;
    height: 5px;
    border-radius: 2.5px;
    margin: 5px 0;
    background: #b9b9b9;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

header #settings-content input[type=range]:hover {
    opacity: 1;
}

header #settings-content input[type=range]::-webkit-slider-thumb, header #settings-content input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: #0e51b6;
    cursor: pointer;
}

header #settings-content input[type=range]:disabled::-webkit-slider-thumb, header #settings-content input[type=range]:disabled::-moz-range-thumb {
    background: #b9b9b9;
}

header a.icon {
    position: relative;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    transition: color 200ms;
}

header a.icon:hover {
    color: #0e51b6;
}

header a.icon #layout-alpha {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4px;
    border-radius: 2px;
    overflow: hidden;
}

header a.icon #layout-alpha div {
    width: 0;
    height: 100%;
    background-color: #0e51b6;
}