/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#kwsearch {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    transition: left 500ms;
    background-color: white;
}

#kwsearch.hidden {
    left: -400px;
    visibility: hidden;
}

#kwsearch-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#kwsearch-header h2 {
    flex: 1 1;
    font-size: 24px;
}

#kwsearch .loader {
    display: none;
    width: 30px;
    height: 30px;
    margin: auto;
}

#kwsearch.loading .loader {
    display: initial;
}

#kwsearch.loading #kwsearch-toolbar {
    display: none;
}

#kwsearch #kwsearch-toolbar {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

#kwsearch #kwsearch-toolbar a {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms;
    overflow: hidden;
    border-radius: 100%;
    font-size: 30px;
}

#kwsearch #kwsearch-toolbar a.hidden {
    display: none;
}

#kwsearch #kwsearch-toolbar a:hover {
    opacity: .8;
    color: #0e51b6;
}

#kwsearch-content {
    flex: 1 1;
    overflow-y: auto;
}

#kwsearch-content:empty::before {
    content: "No other answer trees";
    text-align: center;
    margin-top: 10px;
    display: block;
}

#kwsearch-content.loading:empty::before, #kwsearch.loading #kwsearch-content:empty::before {
    display: none;
}

#kwsearch-content.loading::after {
    content: " ";
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border-radius: 50%;
    border: 3px solid #0e51b6;
    border-color: #0e51b6 transparent #0e51b6 transparent;
    animation: loader 1.2s linear infinite;
}

#kwsearch-content .tree {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: stretch;
    position: static;
}

#kwsearch-content .tree>a {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: center;
    color: black;
    transition: background-color 200ms;
    border-left: 3px solid transparent;
    padding: 0 15px 0 12px;
}

#kwsearch-content .tree .tree-info {
    height: 100%;
    flex: 1 1;
    display: flex;
    align-items: center;
}

#kwsearch-content .tree .tree-info>div {
    margin: 5px;
}

#kwsearch-content .tree>a:hover {
    background: #7b92b4;
}

#kwsearch-content .tree.selected>a {
    border-left-color: #0e51b6;
}

#kwsearch-content .tree>a .node-type {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

#kwsearch-content .tree>a .node-description {
    flex: 1 1;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}

#kwsearch-content .tree>a .node-description .space {
    font-family: serif;
    font-weight: 900;
    font-size: 20px;
}

#kwsearch-content .tree>a .node-description .node-link-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

#kwsearch-content .tree>a .loader {
    display: none;
    width: 20px;
    height: 20px;
}

#kwsearch-content .tree.loading>a .loader {
    display: initial;
}

#kwsearch-content .tree>a::after {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    position: absolute;
    right: 50%;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    transition: border-left-color 200ms;
}

#kwsearch-content .tree:not(.loading):hover>a::after {
    border-left-color: #0e51b6;
}

/* Answer tree preview */

#kwsearch-content .tree .overflow-wrapper {
    position: absolute;
    display: none;
}

#kwsearch-content .tree:hover .overflow-wrapper {
    display: initial;
}

#kwsearch-content .tree.loading:hover .overflow-wrapper {
    display: none;
}

#kwsearch-content .tree svg {
    background-color: #ffffff;
    border-radius: 0 2px 2px 0;
    box-shadow: 2px 0 1px 1px rgba(0, 0, 0, .5);
}

#kwsearch-content .tree svg .links {
    pointer-events: none;
}

#kwsearch-content .tree svg .links text {
    display: none;
}

#kwsearch-content .tree svg .links line {
    stroke: #555555;
    stroke-width: 1;
}

#kwsearch-content .tree svg .edge.same-as line {
    stroke: #254e8b;
}

#kwsearch-content .tree svg .nodes text {
    /* fill: transparent; */
    transition: fill 200ms;
    pointer-events: none;
    font-size: 10px;
}

#kwsearch-content .tree svg .nodes g:hover text {
    fill: black;
}