/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#layout-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity 200ms;
}

#layout-background.hidden {
    opacity: 0;
    pointer-events: none;
}

#layout {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#layout .links .edge, #layout .nodes .node {
    transition: opacity 200ms;
}

#layout.highlighting .nodes .node.hidden, #layout:not(.highlighting) .nodes .node:not(.filteredIn) {
    opacity: .1;
    pointer-events: none;
}

#layout.highlighting .nodes .node:not(.filteredIn):not(.hidden) {
    opacity: .5;
}

#layout.highlighting .nodes .node.hidden text, #layout:not(.highlighting) .nodes .node:not(.filteredIn) text {
    opacity: .5;
}

#layout.highlighting .links .edge.hidden, #layout:not(.highlighting) .links .edge:not(.filteredIn) {
    opacity: .05;
}

#layout .links {
    pointer-events: none;
}

#layout .links text {
    fill: black;
    font-size: 12px;
    transition: fill 200ms;
}

body.dragging #layout .links text, #layout:not(.labels-visible) .links .edge.hidden text {
    fill: transparent;
}

#layout .links line {
    stroke: #555555;
    stroke-width: 1;
}

#layout .links .edge.same-as line {
    stroke: #254e8b;
}

.arrowhead {
    fill: #555555;
}

#layout .nodes circle {
    stroke: black;
    stroke-width: 1;
    cursor: grab;
}

#layout .nodes text {
    fill: black;
    pointer-events: none;
}

#layout .nodes tspan {
    font-size: 0;
    transition: font-size 200ms;
}

#layout .nodes .node:hover tspan {
    font-size: inherit;
}

#layout .nodes tspan.ellipsis {
    font-size: inherit;
}

#layout .nodes .node:hover tspan.ellipsis {
    font-size: 0;
}

#layout .nodes .expand-zone {
    cursor: pointer;
}

#layout .nodes rect {
    fill: white;
    stroke-width: 1;
    stroke: black;
}

#layout .nodes line {
    stroke-width: 1;
    stroke: black;
}

#layout .nodes .expand-zone.open line.v {
    stroke: transparent;
}