/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#legend {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

#legend.hidden {
    display: none;
}

#legend .legend-item {
    display: flex;
    align-items: center;
    padding: 6px;
    color: black;
    transition: background-color 200ms;
    border-radius: 2px;
}

#legend .legend-item.hidden {
    display: none;
}

#legend .legend-item:hover {
    background-color: #7b92b4;
}

#legend .type-color {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-right: 8px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 200ms;
}

#legend .type-color:after {
    content: "\2713";
}

#legend .legend-item.checked .type-color {
    color: black;
}