/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

/* Neighbors */

#neighbors {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    transition: left 500ms;
    background-color: white;
}

#neighbors.hidden {
    left: -400px;
    visibility: hidden;
}

#neighbors-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#neighbors-header h2 {
    flex: 1 1;
    font-size: 24px;
}

#neighbors .loader {
    display: none;
    width: 30px;
    height: 30px;
    margin: auto;
}

#neighbors.loading .loader {
    display: initial;
}

#neighbors #neighbors-header a {
    margin-left: 12px;
}

#neighbors.loading #neighbors-toolbar {
    display: none;
}

#neighbors #neighbors-toolbar {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

#neighbors #neighbors-toolbar a {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms;
    overflow: hidden;
    border-radius: 100%;
    font-size: 30px;
}

#neighbors #neighbors-toolbar a.hidden {
    display: none;
}

#neighbors #neighbors-toolbar-types {
    flex: 1 1;
    scrollbar-width: thin;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#neighbors #neighbors-toolbar a:hover {
    opacity: .8;
    color: #0e51b6;
}

#neighbors-content {
    flex: 1 1;
    overflow-y: auto;
}

#neighbors-content:empty::before {
    content: "No other neighbors";
    text-align: center;
    margin-top: 10px;
    display: block;
}

#neighbors-content.loading:empty::before, #neighbors.loading #neighbors-content:empty::before {
    display: none;
}

#neighbors-content.loading::after {
    content: " ";
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border-radius: 50%;
    border: 3px solid #0e51b6;
    border-color: #0e51b6 transparent #0e51b6 transparent;
    animation: loader 1.2s linear infinite;
}

#neighbors-content .neighbor {
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    transition: background-color 200ms;
    border-left: 3px solid transparent;
    padding: 0 15px 0 12px;
}

#neighbors-content .neighbor:hover {
    background: #7b92b4;
}

#neighbors-content .neighbor.selected {
    border-left: 3px solid #0e51b6;
}

#neighbors-content .neighbor .node-type {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

#neighbors-content .neighbor .node-description {
    flex: 1 1;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
}

#neighbors-content .neighbor .node-description .space {
    font-family: serif;
    font-weight: 900;
    font-size: 20px;
    flex-shrink: 0;
}

#neighbors-content .neighbor .node-description * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#neighbors-content .neighbor .loader {
    width: 20px;
    height: 20px;
}

#neighbors-content .neighbor:not(.loading) .loader {
    display: none;
}