/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms;
}

#popup-container.hidden {
    pointer-events: none;
    opacity: 0;
}

#popup-background {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup {
    position: relative;
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .5);
    background-color: #ffffff;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 30px;
    border-radius: 5px;
}

.popup.hidden {
    display: none;
}

.popup-content {
    flex: 1 1;
}

.popup-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: color 200ms;
}

.popup-close-btn:hover {
    color: #0e51b6;
}

/* About popup */

#popup-about .popup-content {
    overflow-y: auto;
}

#popup-about .popup-content h2 {
    font-size: 24px;
    margin: 5px 0;
}

#popup-about .popup-content h3 {
    font-weight: bold;
    margin: 5px 0;
}

#popup-about .popup-content a {
    color: #0e51b6;
    transition: color 200ms;
}

#popup-about .popup-content a:hover {
    color: #000000;
    transition: color 200ms;
}

/* Choose file popup */

#popup-choose-file .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px dashed black;
    border-radius: 10px;
    transition: all 200ms;
}

#popup-choose-file label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#popup-choose-file .popup-content.dragover {
    margin: 10px;
    border-color: #0e51b6;
}

#popup-choose-file #import-file {
    display: none;
}

#popup-choose-file label {
    cursor: pointer;
}

/* Import popup */

#popup-import .popup-content {
    overflow-y: auto;
}

#popup-import #import-db-name.hidden {
    display: none;
}

#popup-import #import-db-selection {
    height: 40px;
    display: flex;
    align-items: center;
}

#popup-import #import-db-selection select {
    margin-left: 5px;
}

#popup-import #import-db-selection input {
    margin-left: 5px;
    flex: 1 1;
}

#popup-import #db-name-error {
    color: red;
}

#popup-import #file-list .file-options {
    display: flex;
    align-items: center;
}

#popup-import #file-list .row:nth-child(2n) {
    background-color: #cccccc;
}

#popup-import #file-list .file-name {
    flex: 1 1;
}

#popup-import #file-list input {
    display: block;
    box-sizing: border-box;
    flex: 1 1;
}

#popup-import #file-list .upload-error {
    color: red;
}

#popup-import #import-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .5);
    transition: background-color 200ms;
}

#popup-import #import-button:hover {
    background-color: #0e51b6;
}