/*
 * Copyright(C) 2020 Inria, AIST, INESC-ID and Instituto Superior Técnico, Universidade de Lisboa.
 *
 * Available under MIT license (https://opensource.org/licenses/MIT)
 *
 */

#query-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    display: flex;
    box-sizing: border-box;
    line-height: 1.42857143;
}

#query-bar #query {
    flex: 1 1;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: all 200ms;
}

#query-bar #query:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

#query-bar #query-btn {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
    padding: 0 7px 0 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    transition: all 200ms;
}

#query-bar #query-btn:active, #query-bar #query-btn:focus {
    outline: 0;
}

#query-bar #query-btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#query-bar #query-btn:hover, #query-bar #query-btn:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#query-bar .glyphicon {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}