<bib>
    <book><author>Alice Johnson</author> <title>TCP</title></book>
    <book><author>Alice Johnson</author> <title>Databases</title></book>
    <article><author>Alice Johnson</author> <author>Robert Wilson</author><title>Web</title></article>
</bib>
