<meetings>
    <meeting>
        <id>1</id>
        <person1>Macron</person1>
        <person2>Poutine</person2>
    </meeting>
    <meeting>
        <id>2</id>
        <person1>Macron</person1>
        <person2>Poutine</person2>
        <person3>Merkel</person3>
    </meeting>
</meetings>